NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_SUPABASE_URL=https://qvuskrxudrwkefwahscd.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_o9vZeTEyidGj9WUb1QVG4w_ZC7YkE4w
